<%- include("templates/encabezado.ejs", { user : user })%>
<%-include("templates/menu-desplegable.ejs")%>
<div id="container-info">
    <img src="/GreenWaste/css/media/organicCompostador.jpg" 
    alt="Imagen de fondo para la pagina de composta usando compostador" 
    id="fondoOrg"
    />

    <div id="cuadroInfo">
        <div id="titulo">
          <h1>Composta usando compostador</h1>
        </div>
    </div>

        <div class="info-container">
            <p></p>
            <div class="">
                <h2>¿Qué materiales se pueden compostar?</h2>
                <p>
                Los materiales que puedes compostar se dividen en dos categorías:
                materiales verdes y materiales marrones.
                </p>
                <ul>
                    <li>
                        Materiales verdes: Son ricos en nitrógeno y proporcionan proteínas
                        para el compost. Ejemplos son restos de frutas y verduras, cáscaras
                        de huevo, café molido, restos de poda verde, etc.
                    </li>
                    <li>
                        Materiales marrones: Son ricos en carbono y aportan energía para el
                        proceso de compostaje. Ejemplos son hojas secas, papel y cartón sin
                        tintas ni brillos, ramas pequeñas, paja, etc.
                    </li>
                </ul>
            </div>

            <div class="">
                <h2>¿Cómo usar un compostador?</h2>
                <ul>
                    <li>
                        Ubicación: Coloca el compostador en un lugar accesible y bien 
                        drenado, preferiblemente a la sombra y cerca de una fuente de 
                        agua.
                    </li>
                    <li>
                        Capas: Alterna capas de materiales verdes y marrones para lograr 
                        un equilibrio entre nitrógeno y carbono. Comienza con una capa 
                        de material marrón para ayudar a evitar olores y atraer menos 
                        plagas.
                    </li>
                    <li>
                        Tamaño de los materiales: Corta los materiales grandes en trozos 
                        más pequeños para acelerar el proceso de descomposición.
                    </li>
                    <li>
                        Mantén un equilibrio: Es fundamental mantener una proporción 
                        adecuada de materiales verdes y marrones para un compost de calidad.
                    </li>
                </ul>
            </div>

            <div class="">
                <h2>¿Cuánto tiempo tarda el compostaje?</h2>
                <p>
                    El tiempo que tarda el compostaje puede variar según los materiales utilizados, 
                    el tamaño del compostador, la frecuencia de volteo y las condiciones ambientales. 
                    Por lo general, puede tomar entre 2 a 6 meses obtener una composta madura y 
                    lista para usar.
                </p>
            </div>

            <div class="">
                <h2>¿Cómo saber cuándo la composta está lista?</h2>
                <p>
                    La composta estará lista cuando tenga una apariencia oscura, uniforme y desmenuzable, 
                    y tenga un olor a tierra fresca y agradable. Los materiales originales deben estar 
                    prácticamente irreconocibles en la composta terminada.
                </p>
            </div>
        </div>
</div>
<%- include("templates/pie.ejs")%>