<%- include("templates/encabezado.ejs", { usuario: usuario })%>
<%-include("templates/menu-desplegable.ejs")%>
<div id="container-info">

  <img src="/GreenWaste/css/media/organicFosa.jpg" 
    alt="" 
    id="fondoOrg"
    />

    <div id="cuadroInfo">
        <div id="titulo">
          <h1>Fosa de composta</h1>
        </div>
    </div>

  <div class= "info-container">
    <div class="">
      <h2>Pasos para hacer una fosa de composta:</h2>
      <ol>
        <li>
            Elige el lugar adecuado: Busca un lugar en tu jardín o terreno que tenga 
            buen drenaje y esté cerca de la zona donde utilizarás la composta. Es 
            preferible que esté a la sombra o parcialmente sombreado para evitar 
            que se seque demasiado rápido.
        </li>
        <li>
            Determina el tamaño: La fosa de composta puede variar en tamaño según 
            tus necesidades y la cantidad de residuos que quieras compostar. Una 
            profundidad de al menos 60 cm es recomendable para asegurar una buena 
            descomposición.
        </li>
        <li>
            Cava el hoyo: Excava un agujero en el suelo del tamaño deseado. Puedes 
            delimitar el área con piedras, madera o cualquier otro material que ayude 
            a mantener el compost en su lugar.
        </li>
        <li>
            Agrega los materiales: Comienza a agregar los materiales orgánicos en 
            capas. Como en el compostador, alterna capas de materiales verdes (restos 
            de cocina, cáscaras de huevo, café) con materiales marrones (hojas secas, 
            paja, papel). Asegúrate de picar los materiales grandes para acelerar el 
            proceso de compostaje.
        </li>
        <li>
            Humedece los materiales: Rocía agua sobre los materiales a medida que los 
            agregas para mantener la humedad adecuada. La humedad es esencial para la 
            descomposición y transformación en composta.
        </li>
        <li>
            Cubre el hoyo: Después de llenar el hoyo con los materiales, cúbrelo con 
            tierra o con una capa de materiales secos, como hojas secas o paja, para 
            mantener el calor y evitar malos olores.
        </li>
        <li>
            Revuelve ocasionalmente: Para acelerar el proceso de compostaje, puedes 
            revolver los materiales de vez en cuando con una pala o una horquilla. 
            Esto ayudará a mezclar los materiales y proporcionar oxígeno para el 
            crecimiento de microorganismos.
        </li>
        <li>
            Tiempo de compostaje: En una fosa de composta, el tiempo de compostaje 
            puede variar significativamente dependiendo de los materiales utilizados 
            y las condiciones ambientales. Puede tomar varios meses hasta que la 
            composta esté lista para usar.
        </li>
        <li>
            Obtén la composta terminada: Cuando la composta esté oscura, uniforme y 
            con una textura similar a la tierra, estará lista para ser utilizada como 
            fertilizante en tu jardín.
        </li>
      </ol>
    </div>
</div>
<%- include("templates/pie.ejs")%>
