<%- include("templates/encabezado.ejs", { user : user })%>
<%-include("templates/menu-desplegable.ejs")%>
<div id="container-info">
  <img src="/GreenWaste/css/media/organicCubeta.jpg" 
  alt="Imagen de fondo para la pagina de Composta usando una cubeta " 
  id="fondoOrg"
  />

  <div id="cuadroInfo">
      <div id="titulo">
        <h1>Composta usando una cubeta</h1>
      </div>
  </div>


  <div class="info-container">
    <p></p>
    <div class="">
      <h2>Materiales necesarios:</h2>
      <ul>
        <li>
          Una cubeta grande con tapa (preferiblemente con capacidad hermética y
          asas para facilitar el manejo).
        </li>
        <li>
          Materiales para compostar (mismos materiales verdes y marrones
          mencionados anteriormente).
        </li>
      </ul>
    </div>

    <div class="">
      <h2>Pasos para hacer composta en una cubeta:</h2>
      <ol>
        <li>
          Escoge la cubeta: Elige una cubeta que sea lo suficientemente grande
          para tus necesidades, pero que quepa fácilmente en tu hogar o balcón.
          Si la cubeta no tiene orificios de ventilación, asegúrate de perforar
          algunos en la parte inferior para permitir la entrada de aire.
        </li>
        <li>
          Coloca una bandeja: Si estás preocupado por el exceso de líquido,
          puedes colocar una bandeja debajo de la cubeta para recoger el líquido
          que se desprenda durante el proceso de compostaje. Este líquido se
          conoce como "lixiviado" y es rico en nutrientes. Puedes diluirlo con
          agua y utilizarlo como fertilizante para tus plantas.
        </li>
        <li>
          Agrega los materiales: Comienza colocando una capa de materiales
          marrones (hojas secas, papel, cartón) en el fondo de la cubeta. Luego,
          agrega una capa de materiales verdes (restos de frutas, verduras, café
          molido, etc.). Continúa alternando capas de materiales verdes y
          marrones.
        </li>
        <li>
          Mantén el equilibrio: Es importante mantener una proporción adecuada
          de materiales verdes y marrones para un compost equilibrado. Asegúrate
          de que los materiales estén picados en pedazos pequeños para facilitar
          la descomposición.
        </li>
        <li>
          Humedece los materiales: Rocía un poco de agua sobre los materiales
          mientras los agregas a la cubeta. El contenido debe estar húmedo pero
          no empapado. La humedad es esencial para el proceso de compostaje.
        </li>
        <li>
          Revuelve ocasionalmente: Si es posible, revuelve el contenido de la
          cubeta cada pocos días para agregar oxígeno al proceso de compostaje.
          Si tu cubeta tiene tapa, asegúrate de abrir la tapa periódicamente
          para permitir la entrada de aire.
        </li>
        <li>
          Evita olores y plagas: Para evitar malos olores y plagas, evita
          agregar lácteos, carne, huesos, aceites y grasas a la cubeta. También
          puedes añadir una capa de material marrón en la parte superior para
          ayudar a mantener los olores bajo control.
        </li>
        <li>
          Tiempo de compostaje: En una cubeta, el compostaje puede llevar más
          tiempo que en compostadores al aire libre. Puede tomar entre 3 a 6
          meses, dependiendo de las condiciones y el manejo.
        </li>
        <li>
          Obtén la composta terminada: Una vez que la composta esté oscura,
          uniforme y desmenuzable, estará lista para usar. Puedes utilizarla
          para enriquecer tus macetas o jardín con nutrientes naturales.
        </li>
      </ol>
    </div>
  </div>
</div>
<%- include("templates/pie.ejs")%>
