<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs")%>

<div id="container-infoOrga">
  <img
    src="/GreenWaste/css/media/fondoOrganicos.jpg"
    alt="Imagen de fondo para la pagina de Organicos"
    id="fondoOrganicos"
  />
  <div id="cuadroOrganiInfo">
    <div id="infoOrganic-titulo">
      <h1>¿Que son los residuos organicos?</h1>
    </div>
    <div id="infoOrganic-texto">
      <p>Los residuos orgánicos son desechos de origen biológico, como restos de alimentos, plantas, animales y materiales biodegradables. Estos desechos pueden descomponerse naturalmente a través de procesos biológicos y ser utilizados como fertilizantes o convertidos en biogás.</p>
    </div>
  </div>
</div>

<div class="organic-grid-div">

  <div class="organic-option1">
    <div class="animation-org">
      <a href="/composta_compostador">
        <img class="imagen-org" src="/GreenWaste/css/media/organicCompostador.jpg" alt="Imagen de composta usando compostador"/>
        <div class="container-overlay-org">
          <p>Composta usando compostador</p>
        </div>
      </a>
    </div>
  </div>

  <div class="organic-option2">
    <div class="animation-org">
      <a href="/composta_cubeta">
        <img class="imagen-org" src="/GreenWaste/css/media/organicCubeta.jpg" alt="Imagen de composta usando una cubeta" />
        <div class="container-overlay-org">
          <p>Composta usando una cubeta</p>
        </div>
      </a>
    </div>
  </div>

  <div class="organic-option3">
    <div class="animation-org">
      <a href="/composta_fosa">
        <img class="imagen-org" src="/GreenWaste/css/media/organicFosa.jpg" alt="Imagen de composta usando una fosa" />
        <div class="container-overlay-org">
          <p>Fosa de composta</p>
        </div>
      </a>
    </div>
  </div>

  <div class="organic-option4"></div>
  <div class="organic-option5"></div>
  <div class="organic-option6"></div>
</div>

<%- include("templates/pie.ejs")%>
