<%- include("templates/encabezado.ejs")%> <%-
include("templates/menu-desplegable.ejs")%>
<form>
  <div class="green-box">
      <h1 class="regis">Registro de manualidad</h1>
      <form class="regis-form" action="procesar_registro.php" method="POST" enctype="multipart/form-data">

      <input class="regis-input-titulo" type="text" id="titulo" name="titulo" placeholder="Ingrese el nombre de la manualidad:"  required />

      <div class="regis-input-container">
        <input class="regis-input-imagen" type="file"  id="imagen" name="imagen" accept="image/*" onchange="mostrarImagen()" required/>
        <img id="imagenMostrada" src="#" alt="Imagen cargada" style="display: none" />
      </div>
      
      <input class="regis-input-descripcion" type="text" id="introduccion" name="introduccion" placeholder="Descripcion:" required />
     
      <div class="regis-input-container">
        <input class="regis-input-materiales" type="text" id="materiales" name="materiales" placeholder="Materiales:" required />
      </div>
         
      <div class="regis-input-container">
        <input class="regis-input-pasos" type="text" id="pasos" name="pasos" placeholder="Pasos:" required />
      </div>
        
        <textarea class="regis-input-porque" id="razon" name="razon" placeholder="Por que deberian hacer la manualidad:" required></textarea>
       
      
  
      <input class="regis-input" type="submit" value="Registrar" />
  </div>
</form>
<script>
  function mostrarImagen() {
    const fileInput = document.getElementById("imagen");
    const imageElement = document.getElementById("imagenMostrada");
  
    const file = fileInput.files[0];
    if (file) {
      const reader = new FileReader();
  
      reader.onload = function (e) {
        imageElement.src = e.target.result;
        imageElement.style.display = "block";
      };
  
      reader.readAsDataURL(file);
    } else {
      imageElement.src = "#"; // Si no se selecciona una imagen, se oculta la imagen mostrada
      imageElement.style.display = "none";
    }
  }
  </script>
<%- include("templates/pie.ejs")%>
