<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs")%>

<form class="green-box regis-form" action="/agregar_manualidad" method="POST">
  <h1 class="regis">Registro de manualidad</h1>
  <div class="regis-input-container">
    <input class="regis-input-titulo" type="text" id="titulo" name="titulo" placeholder="Ingrese el nombre de la manualidad:" required />
  </div>

  <div class="regis-input-container">
    <input class="regis-input-imagen" type="text" id="imagen" name="imagen_url" placeholder="Ingrese el url de la imagen" required />
    <!-- <img id="imagenMostrada" src="#" alt="Imagen cargada" style="display: none" /> -->
  </div>

  <div class="regis-input-container">
    <textarea class="regis-input-descripcion" id="descripcion" name="descripcion" placeholder="Descripcion:" required></textarea>
  </div>

  <div class="regis-input-container">
    <textarea class="regis-input-materiales" id="materiales" name="materiales" placeholder="Materiales:" required></textarea>
  </div>

  <div class="regis-input-container">
    <textarea class="regis-input-pasos" id="pasos" name="pasos" placeholder="Pasos:" required></textarea>
  </div>

  <textarea class="regis-input-porque" id="razon" name="razon" placeholder="Por que deberian hacer la manualidad:" required></textarea>

  <input class="regis-input" type="submit" value="Registrar" />
</form>

<!-- <script>
  function mostrarImagen() {
    const fileInput = document.getElementById("imagen");
    const imageElement = document.getElementById("imagenMostrada");
  
    const file = fileInput.files[0];
    if (file) {
      const reader = new FileReader();
  
      reader.onload = function (e) {
        imageElement.src = e.target.result;
        imageElement.style.display = "block";
      };
  
      reader.readAsDataURL(file);
    } else {
      imageElement.src = "#"; // Si no se selecciona una imagen, se oculta la imagen mostrada
      imageElement.style.display = "none";
    }
  }
  </script> -->
<%- include("templates/pie.ejs")%>
