<%- include("templates/encabezado.ejs")%>
    <div class="barraMenu">
        <div class="logoSec">
            <img src="/GreenWaste/css/media/Recurso 1.png" alt="Logo" title="Logo de GreenWaste" />
        </div>
    </div>

    <div id="container_registroExitoso" class="success-message">
        <div id="registroExitoso">
            <h2>Registro exitoso</h2>
            <button type="submit" id="botonRegistroExitoso"><a href="/" id="linkRegistroExitoso">Iniciar sesion</a></button>
        </div>
    </div>
    