<%- include("templates/encabezado.ejs")%>
<div class="barraMenu">
  <img src="/GreenWaste/css/media/Recurso 1.png" alt="Logo" title="Logo de GreenWaste" height="100px"/>
</div>

<div id="container-registroExitoso">
  <div id="registroExitoso">
    <img src="/GreenWaste/css/media/correcto.png" alt="" id="correcto"/>
    <h2>Registro exitoso</h2>
    <h4>El usuario fue registrado exitosamente</h4>
    <button type="submit" id="botonRegistroExitoso">
    <a href="/" id="linkRegistroExitoso">Iniciar sesion</a>
  </button>
  </div>
</div>
