<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs")%>

<div id="container-infoMed">
  <img src="/GreenWaste/css/media/fondoMedicos.jpg" alt="" id="fondoMed" />
  <div id="cuadroInfoMed">
    <div id="info-tituloMed">
      <h1>¿Que son los residuos médicos?</h1>
    </div>
    <div id="info-textoMed">
      <p>
        Los residuos médicos, como agujas, jeringas y materiales biológicos,
        deben ser manejados y dispuestos de forma segura para prevenir la
        propagación de enfermedades y proteger el medio ambiente.
      </p>
    </div>
  </div>
</div>

<div class="contenidoMed">
  <div class="recomendMed">
    <h2 id="subtituloMed" >
      Algunas pautas para el manejo adecuado de residuos médicos incluyen:
    </h2>
    <ul id="textMed">
      <li class="listMed">
        Colocar los residuos médicos en contenedores adecuados y seguros.
      </li>
      <li class="listMed">
        Etiquetar claramente los contenedores como "Residuos Médicos" o utilizar
        símbolos reconocidos internacionalmente.
      </li>
      <li class="listMed">
        No desechar los residuos médicos en contenedores de basura regulares.
      </li>
      <li class="listMed">
        Contactar a servicios especializados para la recolección y disposición
        final de los residuos médicos.
      </li>
    </ul>
  </div>
  <div>
    <img src="/GreenWaste/css/media/mapa-med.jpeg" alt="" id="mapaMed" />
  </div>
</div>

<%- include("templates/pie.ejs")%>
