<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs")%>

<div id="container-infoTox">
  <img src="/GreenWaste/css/media/fondoToxico.jpg" alt="" id="fondoTox" />
  <div id="cuadroInfoTox">
    <div id="info-tituloTox">
      <h1>¿Que son los residuos peligrosos?</h1>
    </div>
    <div id="info-textoTox">
      <p>
        Los residuos tóxicos, como los productos químicos peligrosos, requieren un manejo 
        adecuado para proteger la salud humana y el medio ambiente. 
      </p>
    </div>
  </div>
</div>

<div class="contenidoTox">
  <div class="recomendTox">
    <h2 id="subtituloTox" >
      Es importante seguir las siguientes pautas para su correcta disposición:
    </h2>
    <ul id="textTox">
      <li class="listTox">
        Identifica los productos químicos tóxicos que necesitas desechar y 
        asegúrate de separarlos adecuadamente de otros residuos.</li>
      </li>
      <li class="listTox">
        Sigue las instrucciones proporcionadas por el centro de manejo de residuos 
        tóxicos para el embalaje y etiquetado adecuados
      </li>
      <li class="listTox">
        Transporta los residuos tóxicos de manera segura al centro de manejo siguiendo 
        todas las precauciones necesarias
      </li>
      <li class="listTox">
        No mezcles diferentes tipos de productos químicos tóxicos, ya que pueden producir 
        reacciones peligrosas.
      </li>
    </ul>
  </div>
  <div>
    <img src="/GreenWaste/css/media/mapa-toxic.jpeg" alt="" id="mapaTox" />
  </div>
</div>

<%- include("templates/pie.ejs")%>

