<%- include("templates/encabezado.ejs", { user : user })%>
<%- include("templates/menu-desplegable.ejs")%>

  <div class="titulo-sobrenosotros">
      <h1>Sobre nosotros</h1>
  </div>
  <div class="containersobrenosotros">
    <section class="problematica">
      <h2>¿Por que pensamos en este proyecto?</h2>
      <p>Una forma fácil de ayudar a nuestro medio ambiente es mediante los residuos, si tan solo supiéramos desecharlos correctamente se podrían disminuir los niveles de contaminación en el planeta, acciones simples como hacer compostaje casero o el reciclaje de botellas de plástico podrían reducir a grandes rasgos los problemas ambientales. Y no solo eso también se podrían resolver la problemática de la contaminación de áreas verdes, océanos, playas hasta en las mismas calles que transitamos día a día. Con esto en mente, hemos concebido una idea para una aplicación que contribuya y fomente este enfoque.</p>
    </section>

    <section class="objetivo">
      <h2>Objetivo</h2>
      <p>Nuestro objetivo es ofrecer a los usuarios una interfaz amigable donde puedan familiarizarse con las mejores prácticas para el manejo de diferentes tipos de residuos. Desde la simple tarea de separar adecuadamente los desechos hasta brindar ideas sobre cómo desechar de manera segura sustancias médicas u otras sustancias peligrosas, como las baterías, nuestra aplicación busca proporcionar información precisa y útil. </p>
    </section>

    <section class="alcance">
      <h2>Alcance</h2>
      <p>Este software se centrará en brindar información sobre el manejo adecuado de residuos, con el objetivo de educar a la población y promover prácticas sostenibles en el estado de Querétaro. Contará con una interfaz fácil de usar para que los usuarios puedan identificar los distintos tipos de residuos y saber cómo manejarlos adecuadamente.</p>
    </section>

    <section class="area de aplicacion">
      <h2>Área de aplicación</h2>
      <p>La aplicación que se está desarrollando está enfocada en el área de gestión de residuos y cuidado medio ambiental, su objetivo principal es proporcionar información útil y educativa sobre el manejo adecuado de los residuos sólidos urbanos. Además de proporcionar información sobre los diferentes tipos de residuos y su correcto tratamiento, la aplicación también busca promover prácticas sostenibles en la comunidad a través de la educación y la conciencia ambiental. </p>
    </section>

  </div>



<%- include("templates/pie.ejs")%>