<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/GreenWaste/css/style-general.css" />
    <link rel="stylesheet" href="/GreenWaste/css/style-header-footer.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-inicio.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-organicos.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-medicos.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-toxicos.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-inorganicos.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-iniciarSesion.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-Registro.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-centrobotella.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-maceta-bot.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-palets.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-sobre_nosotros.css">
    <link rel="stylesheet" href="/GreenWaste/css/style-pag-regismanualidad.css">
    <link rel="icon" type="image/png" href="/GreenWaste/css/media/iconoPestaña.png" />
    <title>GreenWaste</title>
    <script src="GreenWaste/js/script.js"></script>
    <script src="GreenWaste/js/validacionRegistro.js"></script>
    <script src="GreenWaste/js/validacionInicio.js"></script>


  </head>
  <body>
