<header>
  <div class="menu-wrapper">
    <input type="checkbox" id="menu" />
    <label for="menu"></label>
    <div class="popper-content" id="menuOptions">
      <a href="/inicio/<%= user.usuario_usu %>" class="menu-option">Inicio</a>
      <a href="/organicos" class="menu-option">Orgánicos</a>
      <a href="/inorganicos" class="menu-option">Inorgánicos</a>
      <a href="/residuos_medicos" class="menu-option">Residuos médicos</a>
      <a href="/residuos_toxicos" class="menu-option">Residuos tóxicos</a>
      <a href="/registrar_manualidad" class="menu-option">Registrar manualidad</a>
      <a href="/modificarUsuario/<%= user.id_usu %>" class="menu-option">Modificar mi usuario</a>
      <a href="/sobre_nosotros" class="menu-option">Sobre nosotros</a>
      <a href="/cerrarSesion" class="menu-option">Cerrar Sesion</a>
    </div>
  </div>

  <div class="logo">
    <a href="/inicio/<%= user.usuario_usu %>">
      <img
        src="/GreenWaste/css/media/Recurso 1.png"
        alt= "Imagen del Logo"
        title="Logo de GreenWaste"
      />
    </a>
  </div>
  <!-- Foto de perfil -------------------------------------------------------------------------------------- -->
  <div class="profile-container">
    <div class="profile-circle">
      <img src="/GreenWaste/css/media/avatar2.png" alt="Imagen del Perfil" class="profile-image">
    </div>
    <span class="profile-name"><%= user.usuario_usu %></span>
  </div>
</header>
