/* Estilos para la página de manualidad */
.manualidad-details {
  height: 600px;
  display: block;
  position: relative;
  text-align: center;
  background-color: black;
  margin-bottom: 100px;
}

.manualidad-details img {
  height: 600px;
  width: 100%;
  opacity: 70%;
  display: block;
  margin-bottom: 50px;
}

.manualidad-details h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: #51a736;
  text-shadow: 1px 1px 2px black;
}

.manualidad-details .container-Palets {
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.manualidad-details .info-container-Palets {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 80px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 2);
}

.manualidad-details .container-green-Palets {
  background-color: green;
  padding: 20px;
  border-radius: 50px;
  color: white;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 2);
}

.manualidad-details .container-green-Palets li {
  list-style-type: disc;
  margin-left: 20px;
}

.manualidad-details .container-green-Palets h2 {
  text-align: center;
  font-size: 35px;
}

.manualidad-details ul {
  list-style-type: none;
  padding-left: 20px;
}

.manualidad-details li {
  margin-bottom: 5px;
}

.manualidad-details .sublist {
  list-style-type: square;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.manualidad-details .sublist li {
  margin-bottom: 3px;
}
