
.containersobrenosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  border-radius: 35px;
  text-shadow: 0.2px 0.2px 0.6px green;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 2);
  font-size: 18px;
  text-align: justify;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
